In [1]:
from sklearn import tree
import pandas as pd
import os

In [15]:
data = pd.read_csv("derby_scored.csv")
data.head()

,timestamp,org,sport,pos,player,jump_score,sleep,nutrition,fatigue,motivation,stress,RPE,plus,value,tweet
0,1/17/17,AZRD,Roller Derby,Pivot,Havoc,1.99,8,7,9,10,8,9,-1,1,NaN
1,1/17/17,AZRD,Roller Derby,blocker,Kootz,1.92,5,7,6,6,8,7,-3,1,NaN
2,1/17/17,AZRD,Roller Derby,blocker,Monroe,1.86,8,5,5,7,10,1,4,1,NaN
3,1/17/17,AZRD,Roller Derby,blocker,Calaca,1.69,6,7,8,10,7,5,3,1,NaN
4,5/23/17,AZRD,Roller Derby,blocker,Ginger,1.11,7,8,7,7,8,8,-1,1,NaN

In [16]:
data = data.drop("pos", axis=1 )
data = data.drop("timestamp", axis=1 )
data = data.drop("player", axis=1 )
data = data.drop("org", axis=1 )
data = data.drop("sport", axis=1 )
data = data.drop("tweet", axis=1 )
data = data.drop("plus", axis=1 )
#.dropna(axis=0, how='any', inplace = True)
# data.reset_index(drop=True)
data

,jump_score,sleep,nutrition,fatigue,motivation,stress,RPE,plus,value
0,1.99,8,7,9,10,8,9,-1,1
1,1.92,5,7,6,6,8,7,-3,1
2,1.86,8,5,5,7,10,1,4,1
3,1.69,6,7,8,10,7,5,3,1
4,1.11,7,8,7,7,8,8,-1,1
...,...,...,...,...,...,...,...,...,...
346,2.65,7,9,2,10,2,7,15,0
347,2.35,7,6,7,5,4,6,1,1
348,2.35,6,5,6,6,4,5,2,1
349,2.35,7,6,7,5,4,6,1,1
350,2.60,6,8,4,8,2,8,8,1

In [17]:
target = data["value"]
target_names = ["negative", "positive"]

In [18]:
data = data.drop("value", axis=1)
feature_names = data.columns
data.head()

   jump_score  sleep  nutrition  fatigue  motivation  stress  RPE  plus
0        1.99      8          7        9          10       8    9    -1
1        1.92      5          7        6           6       8    7    -3
2        1.86      8          5        5           7      10    1     4
3        1.69      6          7        8          10       7    5     3
4        1.11      7          8        7           7       8    8    -1

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [20]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [21]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [22]:
sorted(zip(rf.feature_importances_, feature_names), reverse=True)

[(0.6104412899247403, 'plus'),
 (0.10354108985515337, 'fatigue'),
 (0.09686397226679948, 'stress'),
 (0.0588800144503903, 'motivation'),
 (0.042027498931267476, 'jump_score'),
 (0.035379457944349324, 'RPE'),
 (0.03466404901446171, 'nutrition'),
 (0.018202627612838126, 'sleep')]

In [23]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)