# "Feature Importances"

In [115]:
from sklearn import tree
import pandas as pd
import os

In [116]:
data = pd.read_csv("derby_scored.csv")
data.head()

,timestamp,org,sport,pos,player,jump_score,sleep,nutrition,fatigue,motivation,stress,RPE,plus,value,tweet
0,1/17/17,AZRD,Roller Derby,pivot,Havoc,1.99,8,7,9,10,8,9,-1,1,"""To affect the quality of the day, that is the..."
1,1/17/17,AZRD,Roller Derby,blocker,Kootz,1.92,5,7,6,6,8,7,-3,1,"""A man is what he thinks about all day long."""
2,1/17/17,AZRD,Roller Derby,blocker,Monroe,1.86,8,5,5,7,10,1,4,1,"""If you want a thing done well, do it yourself."""
3,1/17/17,AZRD,Roller Derby,blocker,Calaca,1.69,6,7,8,10,7,5,3,1,"""The backbone of surprise is fusing speed with..."
4,5/23/17,AZRD,Roller Derby,blocker,Ginger,1.11,7,8,7,7,8,8,-1,1,"""Each day is the scholar of yesterday."""

In [117]:
data = data.drop("pos", axis=1 )
data = data.drop("timestamp", axis=1 )
data = data.drop("player", axis=1 )
data = data.drop("org", axis=1 )
data = data.drop("sport", axis=1 )
data = data.drop("tweet", axis=1 )
data = data.drop("plus", axis=1 )
#.dropna(axis=0, how='any', inplace = True)
# data.reset_index(drop=True)
data

     jump_score  sleep  nutrition  fatigue  motivation  stress  RPE  value
0          1.99      8          7        9          10       8    9      1
1          1.92      5          7        6           6       8    7      1
2          1.86      8          5        5           7      10    1      1
3          1.69      6          7        8          10       7    5      1
4          1.11      7          8        7           7       8    8      1
..          ...    ...        ...      ...         ...     ...  ...    ...
346        2.65      7          9        2          10       2    7      0
347        2.35      7          6        7           5       4    6      1
348        2.35      6          5        6           6       4    5      1
349        2.35      7          6        7           5       4    6      1
350        2.60      6          8        4           8       2    8      1

[351 rows x 8 columns]

In [118]:
target = data["value"]
target_names = ["positive", "negative"]

In [119]:
data = data.drop("value", axis=1)
feature_names = data.columns
data.head()

   jump_score  sleep  nutrition  fatigue  motivation  stress  RPE
0        1.99      8          7        9          10       8    9
1        1.92      5          7        6           6       8    7
2        1.86      8          5        5           7      10    1
3        1.69      6          7        8          10       7    5
4        1.11      7          8        7           7       8    8

In [120]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(data, target, random_state=42)

In [121]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

0.9090909090909091

In [122]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

0.9659090909090909

# Roller Derby Most Contributing to Red Flags

In [123]:
factors = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
factors = pd.DataFrame(factors)
factors

          0           1
0  0.231290     fatigue
1  0.203987      stress
2  0.140728  jump_score
3  0.140578  motivation
4  0.121545         RPE
5  0.102457   nutrition
6  0.059417       sleep

In [124]:
data.corr()

,jump_score,sleep,nutrition,fatigue,motivation,stress,RPE
jump_score,1.000000,0.039433,0.060713,0.065283,-0.110489,0.032748,0.154302
sleep,0.039433,1.000000,0.215690,-0.078248,0.042807,-0.098084,0.221375
nutrition,0.060713,0.215690,1.000000,-0.088833,0.064885,-0.152581,0.130044
fatigue,0.065283,-0.078248,-0.088833,1.000000,-0.223504,0.305395,0.096857
motivation,-0.110489,0.042807,0.064885,-0.223504,1.000000,0.047450,0.171785
stress,0.032748,-0.098084,-0.152581,0.305395,0.047450,1.000000,-0.049527
RPE,0.154302,0.221375,0.130044,0.096857,0.171785,-0.049527,1.000000

In [125]:
# Support vector machine linear classifier
from sklearn.svm import SVC 
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

# Basketball Most Contributing to Red Flags

In [135]:
from sklearn import tree
import pandas as pd
import os
bball = pd.read_csv("bball_scored.csv")
bball.head()

,PLAYER,Position,Sport,Sleep,Nutrition,Fatigue,Motivation to Workout,Life Stress,RPE,tweet,plus,value,jump_score
0,4803478277,NaN,Basketball,8,7,2,10,1,9,NaN,13,0,2.31
1,4803478277,NaN,Basketball,9,6,7,8,1,10,NaN,5,1,2.25
2,4808188559,NaN,Basketball,8,8,1,9,1,8,I‚Äôm a beast,15,0,2.15
3,4808188559,NaN,Basketball,8,8,1,9,1,8,I‚Äôm a beast,15,0,2.15
4,4803478277,NaN,Basketball,7,7,4,9,1,8,bot is small,10,0,NaN

In [136]:
bball = bball.drop("Position", axis=1 )
bball = bball.drop("PLAYER", axis=1 )
bball = bball.drop("Sport", axis=1 )
bball = bball.drop("tweet", axis=1 )
bball = bball.drop("plus", axis=1 )
bball = bball.dropna()
#.dropna(axis=0, how='any', inplace = True)
# data.reset_index(drop=True)
bball

,Sleep,Nutrition,Fatigue,Motivation to Workout,Life Stress,RPE,value,jump_score
0,8,7,2,10,1,9,0,2.31
1,9,6,7,8,1,10,1,2.25
2,8,8,1,9,1,8,0,2.15
3,8,8,1,9,1,8,0,2.15
11,8,8,3,6,1,8,0,2.20
...,...,...,...,...,...,...,...,...
78,10,6,2,10,2,10,0,2.26
80,9,9,1,9,1,10,0,2.13
81,9,9,1,9,1,9,0,2.00
82,10,8,2,8,1,7,0,2.15
83,9,9,1,9,1,9,0,2.00

In [137]:
target = bball["value"]
target_names = ["positive", "negative"]

In [138]:
bball = bball.drop("value", axis=1)
feature_names = bball.columns
bball.head()

,Sleep,Nutrition,Fatigue,Motivation to Workout,Life Stress,RPE,jump_score
0,8,7,2,10,1,9,2.31
1,9,6,7,8,1,10,2.25
2,8,8,1,9,1,8,2.15
3,8,8,1,9,1,8,2.15
11,8,8,3,6,1,8,2.20

In [139]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(bball, target, random_state=42)

In [145]:
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X_train, y_train)
clf.score(X_test, y_test)

1.0

In [148]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=200)
rf = rf.fit(X_train, y_train)
rf.score(X_test, y_test)

1.0

In [149]:
factors = sorted(zip(rf.feature_importances_, feature_names), reverse=True)
factors = pd.DataFrame(factors)
factors

          0                      1
0  0.324942                Fatigue
1  0.158361              Nutrition
2  0.146773            Life Stress
3  0.119545             jump_score
4  0.085920                  Sleep
5  0.084705  Motivation to Workout
6  0.079754                    RPE

In [150]:
bball_corr = bball.corr()
bball_corr

,Sleep,Nutrition,Fatigue,Motivation to Workout,Life Stress,RPE,jump_score
Sleep,1.000000,-0.193318,-0.079066,0.426954,0.084971,0.568322,0.295591
Nutrition,-0.193318,1.000000,-0.290286,0.004430,-0.397006,-0.152572,-0.356157
Fatigue,-0.079066,-0.290286,1.000000,-0.313837,0.428343,-0.089706,0.064597
Motivation to Workout,0.426954,0.004430,-0.313837,1.000000,0.101287,0.543344,0.135171
Life Stress,0.084971,-0.397006,0.428343,0.101287,1.000000,-0.109235,0.319959
RPE,0.568322,-0.152572,-0.089706,0.543344,-0.109235,1.000000,0.206130
jump_score,0.295591,-0.356157,0.064597,0.135171,0.319959,0.206130,1.000000

In [151]:
bball_corr.to_csv("bball_corr.csv")